@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
.action {
  height: 100vh;
}
.action-card {
  display: block;
  padding: 30px;
  /* width: 600px; */
  height: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: 20px;
}
/* .action-card1 {
  display: block;
  padding: 30px;
  width: 200px;
  height: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: 20px;
  justify-content: center;
} */
