@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Poppins:wght@300&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
#notfound {
  text-align: center;
  padding: 40px;
  align-items: center;
  justify-content: center;
}
.topbar {
  position: fixed;
  top: 0;
  margin: 0;
  height: 50px;

  width: 100%;
  background-color: #54b435;
  z-index: 500;
}
.topbar .logout {
  position: absolute;

  top: 8px;
  border-radius: 5px;
  right: 10px;
  text-decoration: none;
  background-color: rgb(238, 223, 8);
  padding: 3px 10px;
  font-weight: bold;
  color: #1d491d;
}
.topbar a i {
  color: rgb(158, 50, 50);
  padding-top: 20px;
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}
.topbar h1 {
  margin: 5px 5px;
  font-size: 25px;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  font-size: 24px;
}

.topbar .navigation_ .link {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-weight: bold;
  color: #1d491d;
}
.topbar .navigation_ .link a {
  padding: 2px 20px;
  margin: 5px;
  color: white;
  text-decoration: none;
  display: block;
  border-radius: 15px;
  transition: ease-in-out 0.4s;
  transform: scaleX(1.1);
}
.topbar .navigation_ .link .active {
  background-color: rgb(239, 222, 94);
  color: rgb(110, 88, 7);
}

.topbar .navigation_ .link a .icon {
  font-size: 20px;
}

.topbar .navigation_ .link a:hover .icon {
  animation: swing 0.4s;
}

.main {
  margin-top: 70px;
  padding: 20px;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(50%, -50%);
}
@keyframes swing {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(10deg);
  }

  30% {
    transform: rotate(0deg);
  }

  40% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(0deg);
  }

  60% {
    transform: rotate(5deg);
  }

  70% {
    transform: rotate(0deg);
  }

  80% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
