@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Poppins:wght@300&display=swap");
.card {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Poppins", sans-serif;
}

.logincard {
  display: block;

  padding: 40px;
  width: 350px;
  height: 100%;
  /* background-color: rgb(255, 255, 255); */
  border-radius: 10px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.logincard .title {
  text-align: center;
  display: inline-flex;
  text-transform: uppercase;
}
.logincard .title span {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10%;
  margin-left: 10px;
  color: #589f5b;
}
.logincard .title img {
  width: 60px;
  margin-bottom: 40px;
}

#checkpass {
  font-size: 12px;
}

#footer {
  font-size: 11px;
  color: grey;
  position: absolute;
  bottom: 10px;
  display: block;
  right: 10px;
}

@media screen and (max-width: 430px) {
}
