.footer {
  background-color: #1a4d2e;
  height: 10rem;
}
.top {
  background-color: #ffed00;
  font-weight: 400;
  font-size: 15px;
}
.mid {
  color: #c7e8ca;
  font-size: 20px;
  text-align: center;
}
.mids {
  color: #c7e8ca;
  display: flex;
  justify-content: center;
}
.bot {
  color: #c7e8ca;
  text-align: center;
}
